VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_CPU_WARNING_THRESHOLD=70
VITE_CPU_CRITICAL_THRESHOLD=90
VITE_RAM_WARNING_THRESHOLD=75
VITE_RAM_CRITICAL_THRESHOLD=90
VITE_DISK_WARNING_THRESHOLD=80
VITE_DISK_CRITICAL_THRESHOLD=95